#website-talker-floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 70px;
    height: 70px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  #website-talker-popup-wrapper {
    position: fixed;
    bottom: 102px;
    right: 20px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9998;
    overflow: hidden;
    border-radius: 25px;
  }
  